###> symfony/framework-bundle ###
/.env.local
/public/bundles/
/var/
/vendor/
/bin/*
!bin/console

###> symfony/asset-mapper ###
/public/assets/

###> symfony/tailwind ###
/assets/styles/tailwind.css

# IDE configuration
/.vscode/

# Uploaded files
/public/uploads/
